<?xml version="1.0"?>

<launch>
  <include file="$(find adventure_bringup)/launch/minimal.launch"/>
  <include file="$(find adventure_arm_bringup)/launch/arm.launch"/>

  <include file="$(find openni2_launch)/launch/openni2.launch"/>
  <node name="laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" respawn="true">
      <remap from="image" to="/camera/depth/image_raw"/>
  </node>

  <!-- Moveit -->
  <include file="$(find adventure_arm_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <include file="$(find adventure_arm_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Gripper camera -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="true">
    <param name="pixel_format" value="yuyv" />
  </node>
</launch>
